:root {
  --primary: #00502f;
  --secondary: #00301c;
  --fontPrimary: #f2f2f2;
}

body {
  margin: 0;
}

p {
  font-family: var(--font-poppins-light);
}

.page-wrapper {
  padding-top: 70px;
  padding-bottom: 0;
  font-family: var(--font-poppins-light);
}

/* WIP messages */
.WIP-message {
  text-align: left;
  color: grey;
}

.WIP-message-title {
  font-size: 2em;
  margin-bottom: 0;
}
.WIP-message-text {
  font-size: 1.2em;
  margin-top: 0;
}

.WIP-wrapper {
  padding: 16px;
  display: flex;
}
