.icon-buttons-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  margin: 8px;
}

.icon-button-link {
  text-decoration: none;
  margin: 12px;
}

.icon-button {
  height: 250px;
  width: 270px;
  display: flex;
  flex-direction: column;
  justify-content: left;
  padding: 16px;
  box-sizing: border-box;
}

.icon-button:hover {
  background-color: black;
}

.icon-button-title {
  font-size: 1.5em;
  font-weight: bold;
}

.icon-button-icon-text {
  font-size: 3.5em;
  color: white;
}

.icon-button-text-wrapper {
  color: white;
}

.icon-button p {
  font-family: var(--font-inter);
  margin: 4px;
  margin-top: 8px;
}

@media screen and (max-width: 960px) {
  .icon-button {
    width: 90vw;
  }

  .icon-buttons-wrapper {
    flex-direction: column;
    align-items: center;
  }
  .icon-button-title {
    font-size: 2em;
  }
  .icon-button-text {
    font-size: 1.5em;
  }
  .icon-button-icon-text {
    font-size: 4em;
  }
}
