.image-button {
  background-position: center;
  background-size: cover;
  background-blend-mode: overlay;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  opacity: 0.8;
  transition: 0.3s;

  border-radius: 20px;
}

.image-button:hover {
  opacity: 1;
}

.imgb--rect {
  width: 100%;
  height: 400px;
}

.imgb--thin {
  width: 100%;
  height: 250px;
}

.imgb--thin .image-button-text {
  font-size: 3em;
}

.imgb--square {
  width: 400px;
  height: 400px;
}

.image-button-text {
  font-size: 5em;
  text-align: center;
  color: white;
}

.image-button-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.image-button-link {
  text-decoration: none;
  margin: 5px 5px 5px 5px;
}

@media screen and (max-width: 960px) {
  .image-button-wrapper {
    flex-direction: column;
    align-items: center;
  }
}
