.carousel-article-title,
.carousel-article-author,
.carousel-article-button {
  font-family: "Inter", sans-serif;
}

.carousel-article-title {
  color: var(--fontPrimary);
  font-size: 2em;
  font-weight: bold;
  margin: 0;
  word-wrap: break-word;
  width: auto;
}

.carousel-article-author {
  color: var(--fontPrimary);
  font-size: 1.5em;
  font-weight: bold;
  margin: 0;
  padding-top: 10px;
}

.button-wrapper {
  margin-top: 10px;
}

.text-wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: rgba(0, 0, 0, 0.447);
  padding: 20px;
  margin-left: 18%;
  margin-right: 18%;
  max-width: 80%;
}

.carousel-background-image {
  padding: 60px;
  box-sizing: border-box;
}

@media screen and (max-width: 800px) {
  .text-wrapper {
    margin: 0;
    max-width: 1000px;
  }

  .carousel-background-image {
    padding: 50px;
  }
}