.carousel-article-title,
.carousel-article-author,
.carousel-article-button {
  font-family: "Inter", sans-serif;
}

.carousel-article-title {
  color: var(--fontPrimary);
  font-size: 2em;
  font-weight: bold;
  margin: 0;
  word-wrap: break-word;
  width: auto;
}

.carousel-article-author {
  color: var(--fontPrimary);
  font-size: 1.5em;
  font-weight: bold;
  margin: 0;
  padding-top: 10px;
}

.button-wrapper {
  margin-top: 10px;
}

.text-wrapper {
  margin-top: 10vh;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 32px;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  max-width: 1000px;
}

.carousel-background-image {
  padding: 60px;
  min-height: max(50vh, 400px);
  max-height: 600px;
  box-sizing: border-box;
}

@media screen and (max-width: 800px) and (max-height: 1000px) {
  .text-wrapper {
    margin: 0;
    margin-top: 10vh;
    max-width: 1000px;
  }

  .carousel-background-image {
    padding: 50px;
    height: calc(100vh - 70px);
    max-height: none;
  }
}
