.sponsors-disclaimer {
  text-align: center;
  font-family: Inter;
  font-weight: bold;
  font-style: italic;
}

.sponsor-card-whole {
  padding: 16px;
  width: 20vw;
  min-width: 250px;
  display: flex;
  flex-direction: column;
  border-bottom: solid darkgrey 1px;
  margin: 16px;
}

.sponsor-thumbnail {
  height: 150px;
  width: 100%;
  justify-self: center;
  align-self: center;
}

.sponsor-author {
  font-weight: 400;
  font-style: italic;
}

.sponsors-wrapper {
  padding: 16px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.sponsors-aligner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sponsors-column {
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.articles-WIP-message {
  text-align: left;
  color: grey;
}

.articles-WIP-message-title {
  font-size: 2em;
  margin-bottom: 0;
}

.articles-WIP-message-text {
  font-size: 1.2em;
  margin-top: 0;
}

@keyframes fadeAndRise {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate {
  animation: fadeAndRise 0.5s ease-in-out;
}

.article-card-whole {
  animation: fadeAndRise 0.5s ease-in-out;
}

.article-card-title {
  animation: fadeAndRise 0.8s ease-in-out;
}

.article--author {
  animation: fadeAndRise 0.4s ease-in-out;
}

.article-subject {
  animation: fadeAndRise 0.8s ease-in-out;
}
